body {
  font-family: sans-serif;
  max-width: 600px;
  border: 1px solid #dadde1;
  border-radius: 15px;
  padding: 15px;
  margin: 20px auto;
}
h1 {
  font-size: 25px;
  font-weight: 100;
  color: #69635a;
  margin-bottom: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 20px;
  text-transform: capitalize;
}
strong {
  color: rgb(33, 33, 33);
  font-size: 40px;
  line-height: 1;
  font-weight: 200px;
}
button {
  background: blueviolet;
  border: 1px solid whitesmoke;
  border-radius: 30px;
  color: black;
  margin-bottom: 20px;
  padding: 10px;
  display: block;
  margin: 0 auto;
  transition: all 200ms ease-in-out;
}
button:hover {
  background: #69635a;
  cursor: pointer;
}

.detail {
  margin-bottom: 20px;
}
.units {
  position: relative;
  font-size: 16px;
  top: -24px;
}
